<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <style type="text/css">
     #graph-wrapper {
       width: 90%;
       padding: 10px;
       background-color: rgba(20, 20, 20,0.2); 
     } 
     .hover-circle:hover { fill: grey; }
    </style>
  </head>
  <body>
    <h1><a href="https://github.com/kyanny/presentations">https://github.com/kyanny/presentations</a></h1>
    <div id="graph-wrapper">
      <div id="graph"></div>
    </div>
    <script src="punchcard.js"></script>
    <%= @html %>
  </body>
</html>
